.type-writer::after {
  content: "";
  display: inline-block;
  background-color: var(--bg-color);
  transform-origin: center; 
}

.type-writer_cursor::after {
  width: .1em;
  height: .5em;
  transform: scaleY(2);
  margin-bottom: 0.1em;
  animation: blink 1s infinite;
}

.type-writer_underline::after {
  width: 1em;
  height: .1em;
  transform: scaleX(.85);
  margin-bottom: -0.1em;
  opacity: 1;
  animation: fade 1s infinite;
}

@keyframes blink {
  0% {
    transform: scaleY(2);
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(2);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}